project: 
  type: website
  render:
    - "*.{qmd,m,py,ipynb}"
    - "_additional_docs/*.{qmd,m,py,ipynb}"
  
execute:
  freeze: true  # never re-execute computational content during project render, needed for .qmd and .rmd since quarto does not render .ipynb by default

website: 
  page-navigation: true
  title: "ASDC Data and User Services" 
  site-url: "https://nasa.github.io/ASDC_Data_and_User_Services/" 
  repo-url: https://github.com/nasa/ASDC_Data_and_User_Services
  repo-actions: [edit, issue]
  
  page-footer:
    right: "This page is built with ❤️ and [Quarto](https://quarto.org/)."
    left: "Atmospheric Science Data Center"
    
  sidebar:
    logo: "https://archive.ph/Np7yS/b8ad2ce6e0dc2019a56b06908e6a31d0dbb1d544.png"
    pinned: true
    align: center
    tools: 
      - icon: globe
        href: https://eosweb.larc.nasa.gov/
        text: "NASA ASDC Website"
      - icon: github
        href: https://github.com/nasa/ASDC_Data_and_User_Services
        text: "ASDC Data and User Services GitHub Repository"        

    style: "docked"
    search: true
    collapse-level: 2
    contents:
      - section: "Mission-specific guidance"
        href: index.qmd
        contents:
        - section: "**CALIPSO** (Cloud-Aerosol Lidar and Infrared Pathfinder Satellite Observations)"
          contents:
            - section: "An introduction to.."
              contents:
              - text: Plotting ozone number densities
                href: CALIPSO/how_to_plot_ozone_number_densities.ipynb
        - section: "**CERES** (Clouds and the Earth's Radiant Energy System)"
          contents:
            - section: "Scripts"
              contents:
              - text: MATLAB script for downloading an HDF file
                href: https://github.com/nasa/ASDC_Data_and_User_Services/blob/main/CERES/script_for_downloading_hdf.m
        - section: "**DSCOVR** (Deep Space Climate Observatory)"
          contents:
          - section: "An introduction to..."
            contents:
            - text: Plotting Level-2 ozone product parameters
              href: DSCOVR/how_to_plot_ozone_product_parameters.ipynb
          - section: "How do I..."
            contents:
            - text: Explore aerosol data from EPIC and EPA-AQS
              href: DSCOVR/how_to_explore_aerosol_data_from_EPIC_and_EPA-AQS.ipynb
            - text: Compare TEMPO and DSCOVR aerosol data (spatially)
              href: DSCOVR/how_to_compare_spatially_TEMPO_with_DSCOVR_uvai.ipynb
            - text: Compare TEMPO, DSCOVR, and AERONET aerosol data
              href: DSCOVR/how_to_compare_TEMPO_with_DSCOVR_and_AERONET_uvai.ipynb
            - text: Compute daily averages of EPIC Level-2 total ozone (TO3) using OPeNDAP
              href: DSCOVR/how_to_compute_daily_averages_of_DSCOVR_EPIC_Level-2_TO3_total_ozone_using_OPeNDAP.ipynb
            - text: Compute daily averages of EPIC Level-4 TrO3 using OPeNDAP
              href: DSCOVR/how_to_compute_daily_averages_of_DSCOVR_EPIC_Level-4_TrO3_Using_OPeNDAP.ipynb
        - section: "**MAIA** (Multi-Angle Imager for Aerosols)"
          contents:
          - section: "How do I..."
            contents:
            - text: Plot map using a local file
              href: MAIA/how_to_plot_map_of_MAIA_data_using_a_local_file.ipynb
            - text: Convert data from NetCDF to CSV format
              href: MAIA/how_to_convert_data_from_netCDF_to_csv_format.ipynb
        - section: "**MISR** (Multi-Angle Imaging SpectroRadiometer)"
          contents:
          - section: "An introduction to..."
            contents:
            - text: Calculating and visualizing Aerosol Optical Depths (AOD)
              href: MISR/how_to_compute_and_visualize_aerosol_optical_depths.ipynb
        - section: "**MOPITT** (Measurements Of Pollution In The Troposphere)"
          contents:
          - section: "An introduction to..."
            contents:
            - text: Plotting carbon monoxide mixing ratios
              href: MOPITT/how_to_plot_carbon_monoxide_mixing_ratio.ipynb
        - section: "**SAGEIII-ISS** (Stratospheric Aerosol and Gas Experiment III, mounted on the International Space Station)"
          contents:
          - section: "Scripts"
            contents:
            - text: Python script for retrieving Monthly Zonal Mean images from SAGE III-ISS' Browse Imagery Service
              href: https://github.com/nasa/ASDC_Data_and_User_Services/blob/main/SAGEIII-ISS/script_for_quicklook.py
        - section: "**TEMPO** (Tropospheric Emissions: Monitoring of Pollution)"
          contents:
          - section: "How do I..."
            contents:
            - text: Examine data details and download TEMPO files using `earthaccess`
              href: TEMPO/how_to_examine_TEMPO_data_using_earthaccess.ipynb
            - text: Subset and visualize data using `harmony-py`
              href: TEMPO/how_to_examine_TEMPO_data_using_harmony-py.ipynb
            - text: Use the Remote Sensing Information Gateway (RSIG) to access and analyze TEMPO data
              href: TEMPO/tempo_geoxo_meeting_haqast.ipynb
            - text: Work with TEMPO Level-3 data as a virtual dataset in the cloud, using `earthaccess`
              href: https://earthaccess.readthedocs.io/en/latest/tutorials/virtual_dataset_tutorial_with_TEMPO_Level3/
        - section: "**TOLNet** (Tropospheric Ozone Lidar Network)"
          contents:
          - section: "Tutorials"
            contents:
            - text: The TOLNet API - with examples of plotting and using GEOS-CF
              href: TOLNet/tutorial_for_TOLNet_API_with_examples_of_plotting_and_GEOS-CF.ipynb
          - section: "Scripts and API module"
            contents:
            - text: Python script for comparing ozone measurements of TOLNet lidar against Pandora and DSCOVR EPIC
              href: https://github.com/nasa/ASDC_Data_and_User_Services/blob/main/TOLNet/script_for_DSCOVR_EPIC_L4_TrO3_vs_tolnet_clim_vs_pandora.py
            - text: Python module for creating a TOLNet API instance
              href: https://github.com/nasa/ASDC_Data_and_User_Services/blob/main/TOLNet/tolnet_v01.py
      - text: "Learning more"
        href: additional_quarto_docs/learning-more.qmd
      - text: "Contributing"
        href: additional_quarto_docs/contributing.qmd


format:
  html:
    theme:
      light: cosmo # from https://quarto.org/docs/output-formats/html-themes.html
      dark: darkly
    code-copy: true
    code-overflow: wrap
    toc: true


# filters:
#   - include-files.lua
#   - quarto
